<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0"
	metadata-complete="true">
	
	<absolute-ordering />
	
	<display-name>QDeploy Web Application</display-name>

	<servlet>
		<servlet-name>QDeployServlet</servlet-name>
		<servlet-class>net.afnf.qdeploy.QDeployServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>QDeployServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
